@import url('./styles/sections/school.css');
@import url('./styles/sections/about.css');
@import url('./styles/sections/courses.css');
@import url('./styles/sections/form-record.css');
@import url('./styles/sections/reviews.css');
@import url('./styles/sections/form.css');
@import url('./styles/sections/vacancies.css');


html { 
    scroll-behavior: smooth;
}

.wrapper {
    min-height: 100vh;
    position: relative;
}

.header {
    padding: 30px 0 30px 0;
    background-color: #000;
    color: rgb(190, 190, 8);
    font-family: "Montserrat Alternates", sans-serif;
    position: relative;
}

.header::before { 
    content: "";
    width: 100%;
    height: 1px;
    background-color: yellow;
    position: absolute;
    bottom: 0;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.header__flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0 10px 0 10px;
}

.header__logo .logo {
    font-size: clamp(24px, 22.54px + 0.39vw, 30px);
    text-align: center;
    font-weight: 300;
}

.haeder__list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.header__list-item .header__list-link {
    font-size: clamp(14px, 13.03px + 0.26vw, 18px);
    font-weight: 100;
}


.contacts .contacts__box {
    display: flex;
    gap: 15px;
}

.footer {
    background-color: #000;
    padding: 30px 0 30px 0;
    font-family: "Montserrat Alternates", sans-serif;
    position: absolute;
    right: 0;
    left: 0;
}

.footer::before { 
    content: "";
    width: 100%;
    height: 1px;
    background-color: yellow;
    position: absolute;
    top: 0;
}

.footer__flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    PADDING: 0 10px 0 10px;
}

.footer__title,  .footer__politicy{
    color: yellow;
    font-size: clamp(18px, 17.51px + 0.13vw, 20px);
    text-align: center;
    font-weight: 300;
}

.footer__contacts {
    display: flex;
    gap: 15px;
}

.popup__description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1f1c1c;
    z-index: 1000;
    font-family: "Montserrat Alternates", sans-serif;
    border-radius: 30px;
    display: none;
}

.header__popup-description { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px 15px 10px;
    gap: 60px;
}

.popup__close { 
font-size: 18px;
    color: #fff;
    background-color: yellow;
    color:#000;
    cursor: pointer;
    border: none;
    padding: clamp(8px, -3.67px + 0.97vw, 15px);
    transition: all .6s ease-in-out;
    font-weight: 600;
}

.popup__close:hover { 
    background-color: #000;
    color: yellow;
}

.popup__description-title {
      font-size: clamp(26px, 2.67px + 1.94vw, 40px);
    color: #fff;
}

.popup__description-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.box-text { 
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.popup__description-img {
    width: 100%;
    overflow: hidden;
}

.button-buy { 
     width: 100%;
    background-color: yellow;
    color:#000;
    cursor: pointer;
    border: none;
    padding: 15px;
    transition: all .6s ease-in-out;
    font-weight: 600;
    font-size: 20px;
}

.button-buy:hover { 
    background-color: #000;
    color: yellow;
}

.popup__description-img img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup__description-text {
    margin-bottom: auto;
    color: #fff;
    font-size: clamp(18px, 17.27px + 0.19vw, 21px);
    padding: 0 15px 0 15px;
}