.form {
    font-family: "Montserrat Alternates", sans-serif;
    background-color: #000;
    padding: 130px 0 130px 0;
}

.form__flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 0 10px;
    gap: 80px;
}

.form__box-title {
display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.form__title {
     font-size: clamp(26px, 22.60px + 0.91vw, 40px);
     color: #fff;
}

.form__subtitle {
    color: #fff;
    font-size: clamp(12px, 10.54px + 0.39vw, 18px);
}

.form__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: #1f1c1c;
    padding: 30px;
    border-radius: 10px;
}

.label {
    color: #fff;
    font-size: clamp(10px, 8.06px + 0.52vw, 18px);
}

.input-form {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    font-size: clamp(12px, 10.54px + 0.39vw, 18px);
}

.form__submit {
    padding: 15px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 30px;
    background-color: yellow;
    color: #000;
    font-weight: 500;
    transition: all .4s ease-in-out;
    border: none;
    width: 100%;
    font-size: clamp(11px, 7.84px + 0.84vw, 24px);
}

.form__submit:hover { 
     background-color: #000;
    color: yellow;
}

.responseMessage { 
    color: #fff;
     font-size: clamp(11px, 7.84px + 0.84vw, 24px);
     text-align: center;
}